.category{
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

/* default size */
.category .img-icon{
  height: 2rem;
  aspect-ratio: 1/1;
  font-size: 1.5rem;
}

/* header size, main-feed*/
.page-title .category .img-icon{
  height: 3rem;
  font-size: 2.5rem;
}

.page-title .category{
  align-items: end;
}

.category .icon{
  font-size: inherit;
  position: relative;
  bottom: 1%;
}
.sub-category a{
  display: block;
  width: 100%;
}

.category .category-name{
  flex-grow: 1;
}

.category small{
  font-size: 0.8rem;
}