.main-header {
  width: 100%;
  background-color: var(--bg);
  border-bottom: 1px solid var(--neut);
}

.main-header .logo {
  text-decoration: none;
}

.logo-text {
  color: var(--color);
  font-weight: 600;
  font-size: 1.4rem;
}